## Pandas 基础介绍

#### Series：索引在左边，值在右边。由于我们没有为数据指定索引。于是会自动创建一个0到N-1（N为长度）的整数型索引。

In [23]:
import pandas as pd
import numpy as np
s = pd.Series([1,3,6,np.nan,44,1])

print(s)

0     1.0
1     3.0
2     6.0
3     NaN
4    44.0
5     1.0
dtype: float64

#### DataFrame：一个表格型的数据结构，它包含有一组有序的列，每列可以是不同的值类型（数值，字符串，布尔值等）。DataFrame既有行索引也有列索引， 它可以被看做由Series组成的大字典。

In [32]:
dates = pd.date_range('20160101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns = ['a','b','c','d'] )
print(df)

                   a         b         c         d
2016-01-01  1.030380 -0.551694  0.825593  0.694207
2016-01-02  0.283336  0.437458  0.014061  0.887237
2016-01-03  0.099756  0.945757  0.602058  2.155220
2016-01-04 -1.843262 -0.643117 -1.220720  1.289125
2016-01-05  0.903291 -1.142464 -0.470506 -0.840472
2016-01-06 -0.261507 -0.648329  0.307671 -0.199493

#### （1）挑选b的元素

In [33]:
print(df['b'])

2016-01-01   -0.551694
2016-01-02    0.437458
2016-01-03    0.945757
2016-01-04   -0.643117
2016-01-05   -1.142464
2016-01-06   -0.648329
Freq: D, Name: b, dtype: float64

#### （2）创建无给定行列标签的数据(默认从0开始index)

In [37]:
df1 = pd.DataFrame(np.arange(12).reshape((3,4)))
print(df1)

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

#### （3）对每列特殊对待的创建方法（可查看类型）

In [77]:
df2 = pd.DataFrame({'A':1.,
                   'B':pd.Timestamp('20130102'),
                   'C':pd.Series(1,index = list(range(4)),dtype = "float32"),
                   'D':np.array([3]*4, dtype = 'int32'),
                   'E':pd.Categorical(["test","train","test","train"]),
                   'F':'foo'})

print(df2)
print('\n'+'查看数据类型')
print(df2.dtypes)
print('\n'+'查看行序号')
print(df2.index)
print('\n'+'查看数据名称')
print(df2.columns)
print('\n'+'查看所有df2的值')
print(df2.values)
print('\n'+'转置')
print(df2.T)
print('\n'+'对index排序并输出')
print(df2.sort_index(axis=1, ascending=False))
print('\n'+'对值排序并输出')
print(df2.sort_values(by='E'))
print('\n'+'查看数据总结')
df2.describe()

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

查看数据类型
A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

查看行序号
Int64Index([0, 1, 2, 3], dtype='int64')

查看数据名称
Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

查看所有df2的值
[[1.0 Timestamp('2013-01-02 00:00:00') 1.0 3 'test' 'foo']
 [1.0 Timestamp('2013-01-02 00:00:00') 1.0 3 'train' 'foo']
 [1.0 Timestamp('2013-01-02 00:00:00') 1.0 3 'test' 'foo']
 [1.0 Timestamp('2013-01-02 00:00:00') 1.0 3 'train' 'foo']]

转置
                     0                    1                    2  \
A                    1                    1                    1
B  2013-01-02 00:00:00  2013-01-02 00:00:00  2013-01-02 00:00:00
C                    1                    1                    1
D                    3                    3                    3
E                 test                train                 test
F                  foo                  foo                  foo

                     3
A                    1
B  2013-01-02 00:00:00
C                    1
D                    3
E                train
F                  foo

对index排序并输出
     F      E  D    C          B    A
0  foo   test  3  1.0 2013-01-02  1.0
1  foo  train  3  1.0 2013-01-02  1.0
2  foo   test  3  1.0 2013-01-02  1.0
3  foo  train  3  1.0 2013-01-02  1.0

对值排序并输出
     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
2  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
3  1.0 2013-01-02  1.0  3  train  foo

查看数据总结

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0